@charset "utf-8";
.progress-bar {
background-color:#111;
height:16px;
width:320px;
margin:0 0 20px;
width: 100%;
}

.progress-bar span {
display:inline-block;
height:100%;
background-color:#F60;
border-right:1px solid rgba(255,255,255,0.1);
box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
-moz-box-shadow:0 0 20px rgba(0,0,0,0.2) inset;
-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2) inset;  
}

.green span {
background-color:#6C3;
}

.orange span {
background-color:#F60;
}

.red span {
background-color:red;
}

.blue span{
background-color: blue;
}

